

.map-title {
    padding-left: 15px;
    position: relative;
}

.map-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--blue);
}

@media (max-width: 991.98px) {
    .map br {
        display: none;
    }
}

@media (any-hover: hover) {
    .map a.text-blue:hover {
        text-decoration: underline;
    }
}
