@import '../components/main-block.css';
@import '../components/item.css';

.tags-letter {
    color: var(--dark);
    line-height: 140.9%;
    font-weight: 500;
    font-size: 1.75rem;
    text-transform: uppercase;
}
.tags .tag {
    font-size: var(--txt-medium);
}

@media (max-width: 767.98px) {
    .tags-letter {
        font-size: 1.5rem;
    }

}
