.title-large {
    font-weight: 500;
    font-size: var(--txt-extra-large);
    line-height: 134%;
    color: var(--dark);
}


.title-small {
    font-weight: 500;
    line-height: 140.9%;
    font-size: 1.125rem;
}

.text-large {
    font-size: var(--txt-large);
    line-height: calc(26 / 18 * 100%);
    color: var(--dark);
}

.text-extra-large {
    font-size: 1.25rem;
    color: var(--txt-color-white);
    font-weight: 500;
}

.font-style-italic {
    font-style: italic;
}

.font-thin {
    font-weight: 300;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}
.text-align-left {
    text-align: left;
}


.text-white {
    color: var(--txt-color-white) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-small {
    font-size: var(--txt-ultra-small);
    line-height: 174.9%;
}


.text-dark {
    font-size: var(--txt-medium);
    line-height: var(--txt-line-height);
    color: var(--dark)
}
.text {
    font-size: var(--txt-medium);
    line-height: var(--txt-line-height);
}
.text-blue {
    color: var(--blue) !important;
}

@media (min-width: 767.98px) {
    .text-align-md-left {
        text-align: left;
    }
}

@media (min-width: 991.98px) {
    .text-align-lg-left {
        text-align: left;
    }
    .text-align-lg-right {
        text-align: right;
    }
    .text-align-lg-center {
        text-align: center;
    }
}


@media (max-width: 1240px) {
    .title-small {
        font-size: 0.9375rem;
    }
    .title-large {
        font-size: 1.75rem;
    }
    .text-large {
        font-size: var(--txt-normal);
    }
}


@media (max-width: 767.98px) {
    .title-large {
        font-size: 1.5rem;
    }
    .text-large {
        font-size: var(--txt-medium);
    }
}


