.green-audio-player .volume .volume__controls.top {
    bottom: 0;
}

.green-audio-player .slider .gap-progress {
    background: var(--blue);
}
.green-audio-player .progress__pin {
    display: none;
}

.green-audio-player {
    max-width: 320px;
    margin: 0 auto;
    min-width: auto;
    width: 100% !important;
}
.green-audio-player .volume .volume__button.open path {
    fill: var(--blue);

}
.green-audio-player .slider .gap-progress .pin {
    background: var(--blue);
}
.green-audio-player .controls span {
    font-size: var(--txt-medium);
    font-family: var(--body-font-family);
    color: var(--black);
}


@media (max-width: 375px) {
    .green-audio-player {
        max-width: 280px;
    }
}
