:root {
    --body-font-family: "StyreneALC";
    --body-font-weight: 400;
    --body-color: #435269;
    --body-font-size: --bs-body-font-size;
    /*--body-adaptive-font-size: 14px;*/
    --body-font-style: normal;
    --grey: #717984;
    --grey-light: #25374E;
    --grey-extra-light: #DBE2E7;
    --dark: #25374E;
    --dark-2: #717984;
    --blue: #007BFF;
    --blue-light: rgba(0, 123, 255, 0.2);
    --white: #FFFFFF;
    --white-2: #F6F9FF;
    --light: #CAD8F3;
    --black: #000000;
    --placeholder-color: #D2D0D0;
    --section-spacing: 100px;
    --section-mobile-spacing: 50px;
    --txt-line-height: 142%;
    --txt-color-white: #ffffff;
    --txt-color-blue: #007BFF;
    --txt-normal: 1rem;
    --txt-medium: 0.875rem;
    --txt-ultra-small: 0.75rem;
    --txt-large: 1.125rem;
    --txt-extra-large: 2rem;
    --transition-timing: ease;
    --transition: 0.3s;
    --gutter-x: 1rem;
    --title-spacing: 1.5625rem;
    --top-spacing: 50px;
    --border-radius-normal: 15px;
    --gutter-1: 0.3125rem;
    --gutter-2: 0.625rem;
    --gutter-3: 0.9375rem;
    --gutter-4: 1.25rem;
    --gutter-5: 1.5625rem;
    --gutter-6: 1.875rem;
    --gutter-7: 2.1875rem;
    --gutter-8: 2.5rem;
    --gutter-10: 3.125rem;
    --gutter-15: 4.6875rem;
    --gutter-20: 6.25rem;
}



body, html {
    font-family: var(--body-font-family);
    color: var(--body-color);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-family);
    font-style: var(--body-font-style);
}

body.hidden {
    overflow: hidden;
}

body {
    overflow-x: hidden !important;
}
ol {
    padding-left: 1.0625rem;
}

.border-bottom-grey {
    border-bottom: 1px solid var(--grey-extra-light);
}

/*.page {*/
/*    overflow-x: hidden !important;*/
/*}*/

*::selection {
    background: var(--blue);
    color: var(--white);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    flex: 0 0 auto;
}

.footer {
    flex: 0 0 auto;
}
.page {
    flex: 1 1 auto;
}

.h-100 {
    height: 100%;
}
/*@media (max-width: 767.98px) {*/
/*    body {*/
/*        font-size: var(--body-adaptive-font-size);*/
/*    }*/

/*}*/


.img-fluid {
    max-width: 100%;
    height: auto;
}
.bg-default {
    position: relative;
    background: var(--blue);
}
.bg-default::before,
.bg-default::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-default > .container-xl {
    position: relative;
    z-index: 3;
}


.date {
    color: var(--dark-2);
    font-size: 0.8125rem;
    line-height: calc(17 / 13 * 100%);
    position: relative;
}

.position-relative {
    position: relative;
}


.circle {
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
}

.circle:last-child::before {
    display: none;
    padding: 0;
    margin: 0;
}

.date-city {
    position: relative;
    display: inline-block;
}

.border-none {
    border: none !important;
}

.bg-light {
    background: var(--white-2) !important;
}

.bg-white {
    background: var(--white) !important;
}

.flex-fill-100 {
    flex: 1 1 100%;
}


@media (min-width: 767.98px) {
    .flex-fill-lg-0 {
        flex: 0 0 auto;
    }
}

.fancybox__content :focus:not(.carousel__button.is-close) {
    outline: none !important;
}


.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0 var(--gutter-x) !important;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1240px;
    }
}


.br-normal {
    border-radius: var(--border-radius-normal);
}
.br-small {
    border-radius: 5px;
}

.b-blue {
    border: 1px solid var(--txt-color-blue);
}

.b-grey {
    border: 1px solid var(--grey-extra-light);
}



.action-image-small {
    max-width: 196px;
    height: 276px;
    object-fit: cover;
}


@media (min-width: 991.98px) {
    .slider-disabled .swiper-wrapper {
        transform: none !important;
    }
    .bg-lg-light {
        background: var(--white-2) !important;
    }
}

@media (max-width: 991.98px) {
    .page {
        padding-top: 60px !important;
    }
}

@media (max-width: 1100px) {
    .page {
        padding-top: 80px !important;
    }
}


@media (min-width: 767.98px) {
    .circle::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: calc(50% + 1px);
        right: 0;
        opacity: 0.5;
        transform: translate(0, -50%);
        background: var(--dark-2);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        transition: all var(--transition) var(--transition-timing) 0s;
    }
}


.list li {
    position: relative;
    padding-left: 0.9375rem;
    line-height: var(--txt-line-height);
}

.list li::before {
    content: "";
    position: absolute;
    top: 9.5px;
    left: 0;
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    background: var(--txt-color-blue);
}

.input input {
    display: block;
    width: 100%;
    height: 2.5rem;
}
.input-limited {
    max-width: 380px;
}
.input {
    position: relative;
    padding: 0 0.9375rem;
}
.input::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--blue);
    border-radius: 5px;
    pointer-events: none;
    opacity: 0.5;
}

.input input:focus::placeholder {
    color: transparent;
}

.input input::placeholder {
    color: var(--placeholder-color);
}


.circle-block::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: calc(50% + 1px);
    right: 0;
    opacity: 0.5;
    transform: translate(0, -50%);
    background: var(--dark-2);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transition: all var(--transition) var(--transition-timing) 0s;
}


.cookie {
    transition: all var(--transition) var(--transition-timing) 0s;
    position: fixed;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: auto;
    background: var(--white);
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.15);
}

.cookie.active {
    visibility: visible;
    opacity: 1;
}

.cookie-body {
    position: relative;
}

.cookie-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media (max-width: 991.98px) {
    .cookie-text br {
        display: none;
    }
    .side {
        width: 100% !important;

    }
}

@media (min-width: 991.98px) {
    .side {
        position: sticky;
        top: 1rem;
        width: auto;
        /*padding-bottom: 4.625rem;*/
    }
}

@media (max-width: 640px) {
    .date-bottom {
        display: flex !important;
        justify-content: flex-end;
    }
}

@media (min-width: 640px) {
    .date-bottom {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .list li {
        font-size: var(--txt-medium);
    }
    .list li::before {
        top: 6.5px;
    }
}

@media (any-hover: hover) {
    a:hover .tag {
        background: var(--white-2);
        color: var(--grey);
        font-size: var(--txt-ultra-small);
    }
}
