:root {
    --body-font-family: "StyreneALC";
    --body-font-weight: 400;
    --body-color: #435269;
    --body-font-size: 16px;
    /*--body-adaptive-font-size: 14px;*/
    --body-font-style: normal;
    --grey: #717984;
    --grey-light: #25374E;
    --grey-extra-light: #DBE2E7;
    --dark: #25374E;
    --dark-2: #717984;
    --blue: #007BFF;
    --blue-light: rgba(0, 123, 255, 0.2);
    --white: #FFFFFF;
    --white-2: #F6F9FF;
    --section-spacing: 100px;
    --section-mobile-spacing: 50px;
    --txt-line-height: 142%;
    --txt-normal: 1rem;
    --txt-medium: 0.875rem;
    --txt-large: 1.125rem;
    --txt-extra-large: 2rem;
    --transition-timing: ease;
    --transition: 0.3s;
    --gutter-x: 1rem;
    --title-spacing: 1.5625rem;
    --section-adaptive-spacing: 50px;
    --top-spacing: 50px;
    --border-radius-normal: 15px;
}



body, html {
    font-family: var(--body-font-family);
    color: var(--body-color);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-family);
    font-style: var(--body-font-style);
}

*::selection {
    background: var(--blue);
    color: var(--white);
}
/*@media (max-width: 767.98px) {*/
/*    body {*/
/*        font-size: var(--body-adaptive-font-size);*/
/*    }*/

/*}*/
.img-fluid {
    max-width: 100%;
    height: auto;
}




.date {
    color: var(--dark-2);
    font-size: 0.8125rem;
    line-height: calc(17 / 13 * 100%);
    position: relative;


}


.date-item {
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
}
.date-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0.5;
    transform: translate(0, -30%);
    background: var(--dark-2);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.date-item:last-child::before {
    display: none;
    padding: 0;
    margin: 0;
}

.date-city {
    position: relative;
    display: inline-block;
}

.border-none {
    border: none !important;
}

.bg-light {
    background: var(--white-2) !important;
}

.bg-white {
    background: var(--white) !important;
}


.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0 var(--gutter-x) !important;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1240px;
    }
}


.br-normal {
    border-radius: var(--border-radius-normal);
}


@media (min-width: 991.98px) {
    .slider-disabled .swiper-wrapper {
        transform: none !important;
    }

}
