:root {
    --body-font-family: "StyreneALC";
    --body-font-weight: 400;
    --body-color: #435269;
    --body-font-size: 16px;
    /*--body-adaptive-font-size: 14px;*/
    --body-font-style: normal;
    --grey: #717984;
    --grey-light: #25374E;
    --grey-extra-light: #DBE2E7;
    --dark: #25374E;
    --dark-2: #717984;
    --blue: #007BFF;
    --blue-light: rgba(0, 123, 255, 0.2);
    --white: #FFFFFF;
    --white-2: #F6F9FF;
    --light: #CAD8F3;
    --section-spacing: 100px;
    --section-mobile-spacing: 50px;
    --txt-line-height: 142%;
    --txt-normal: 1rem;
    --txt-medium: 0.875rem;
    --txt-ultra-small: 0.75rem;
    --txt-large: 1.125rem;
    --txt-extra-large: 2rem;
    --transition-timing: ease;
    --transition: 0.3s;
    --gutter-x: 1rem;
    --title-spacing: 1.5625rem;
    --top-spacing: 50px;
    --border-radius-normal: 15px;
    --gutter-1: 0.3125rem;
    --gutter-2: 0.625rem;
    --gutter-3: 0.9375rem;
    --gutter-4: 1.25rem;
    --gutter-5: 1.5625rem;
    --gutter-6: 1.875rem;
    --gutter-7: 2.1875rem;
    --gutter-10: 3.125rem;
    --gutter-15: 4.6875rem;
    --gutter-20: 6.25rem;
}



body, html {
    font-family: var(--body-font-family);
    color: var(--body-color);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-family);
    font-style: var(--body-font-style);
}

body.hidden {
    overflow: hidden;
}

body {
    overflow-x: hidden !important;
}

*::selection {
    background: var(--blue);
    color: var(--white);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    flex: 0 0 auto;
}

.footer {
    flex: 0 0 auto;
}
.page {
    flex: 1 1 auto;
}
/*@media (max-width: 767.98px) {*/
/*    body {*/
/*        font-size: var(--body-adaptive-font-size);*/
/*    }*/

/*}*/
.img-fluid {
    max-width: 100%;
    height: auto;
}
.bg-default {
    position: relative;
    background: var(--blue);
}
.bg-default::before,
.bg-default::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-default > .container-xl {
    position: relative;
    z-index: 3;
}


.date {
    color: var(--dark-2);
    font-size: 0.8125rem;
    line-height: calc(17 / 13 * 100%);
    position: relative;
}

.position-relative {
    position: relative;
}


.date-item {
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
}
.date-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0.5;
    transform: translate(0, -30%);
    background: var(--dark-2);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.date-item:last-child::before {
    display: none;
    padding: 0;
    margin: 0;
}

.date-city {
    position: relative;
    display: inline-block;
}

.border-none {
    border: none !important;
}

.bg-light {
    background: var(--white-2) !important;
}

.bg-white {
    background: var(--white) !important;
}

.flex-fill-100 {
    flex: 1 1 100%;
}



.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0 var(--gutter-x) !important;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1240px;
    }
}


.br-normal {
    border-radius: var(--border-radius-normal);
}


@media (min-width: 991.98px) {
    .slider-disabled .swiper-wrapper {
        transform: none !important;
    }

}

@media (max-width: 991.98px) {
    .page {
        padding-top: 60px;
    }
}
