/*body.blind {*/
/*    background: #111111;*/
/*}*/


body.blind img {
    filter: grayscale(100%);
}
body.blind *::before,
body.blind *::after {
    filter: grayscale(100%);
}

.blind-form {
    display: none;
}

body.blind .share-label {
    color: #fff !important;
}
body.blind .share-btn {
    filter: grayscale(100%);
}

body.blind .submenu-tag {
    color: var(--black);
}
body.blind  .btn-default {
    color: var(--black);
}
body.blind  .btn-small{
    color: var(--black);
}

body.blind .intro-pagination .swiper-pagination-bullet {
    background: var(--black);
}

.blind-form input {
    width: 300px;
}
@media (max-width: 767.98px) {
    .blind-form input {
        width: 260px;
    }
}
/*@media (min-width: 991px) {*/
/*    body.blind .popular-tasks .row > * {*/
/*        flex: 0 1 50%;*/
/*    }*/
/*    body.blind .usage-slide {*/
/*        flex: 0 1 50%;*/
/*    }*/
/*    body.blind .solutions .row > * {*/
/*        width: 33.33333333% !important;*/
/*    }*/
/*}*/

