.btn-default {
    background: var(--blue);
    color: var(--txt-color-white);
    font-weight: 500;
    font-size: var(--txt-medium);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 33px;
    border-radius: 38px;
    border: 1px solid transparent;
    line-height: calc(18.4 / 14 * 100%);
    transition: all var(--transition) var(--transition-timing)  0s;
}

.btn-white {
    background: var(--blue);
    color: var(--txt-color-white);
    font-weight: 400;
    font-size: var(--txt-normal);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 33px;
    border-radius: 12px;
    transition: var(--transition);

    line-height: calc(18.4 / 14 * 100%);
}
.btn-small {
    background: var(--blue);
    color: var(--txt-color-white);
    font-weight: 500;
    font-size: var(--txt-medium);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1px 20px;
    border-radius: 38px;
    border: 1px solid transparent;
    line-height: calc(18.4 / 14 * 100%);
    transition: all var(--transition) var(--transition-timing)  0s;
}

.tag {
    background: var(--white-2);
    color: var(--grey);
    font-size: var(--txt-ultra-small);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 20px;
    border-radius: 12px;
    line-height: calc(18.4 / 14 * 100%);
    transition: all var(--transition) var(--transition-timing)  0s;
}

.submenu-tag {
    background: var(--blue);
    color: var(--txt-color-white);
    font-weight: 500;
    font-size: 0.6875rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px 3px;
    border-radius: 2px;
    line-height: 131%;
}

.button-prev,
.button-next {
    width: 39px;
    height: 39px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
}

.button-next {

    margin-left: 25px;
}
.button-next img {
    transform: rotate(180deg);
}
.button-prev {
    margin-right: 25px;
}

@media (any-hover: hover) {
    .btn-link-blue:hover {
        border-color: var(--blue);
        background: transparent;
        color: var(--blue);
    }
    .tag:hover {
        background: var(--blue);
        color: var(--txt-color-white);
    }
}
