.categories::before {
    background: url('../../img/backgrounds/categories/pattern-left.svg') 0 50% no-repeat;
}
.categories::after {
    background: url('../../img/backgrounds/categories/pattern-right.svg') 100% 50% no-repeat;
}
.categories-item {
    padding: 25px 25px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.categories .title-large {
    flex: 1 1 auto;
}
.categories-icon img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    pointer-events: none;
}

@media (max-width: 767.98px) {
    .categories-icon img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 991.98px) {
    .categories::before {
        background: url('../../img/backgrounds/categories/pattern-top.svg') 50% 0 no-repeat;
    }
    .categories::after {
        background: url('../../img/backgrounds/categories/pattern-top.svg') 50% 101% no-repeat;
    }
}
