.client-cases-slide {
    background: var(--white);
    border-radius: 15px;
    padding: 1.875rem;
}

.client-cases-brand {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.client-cases-title {
    margin-bottom: 0.9375rem;
}

.client-cases-text {
    font-size: var(--txt-medium);
    line-height: var(--txt-line-height);
}
.client-cases .swiper-slide {
    height: auto;
}

@media (max-width: 767.98px) {
    .client-cases-brand {
        margin-bottom: 1.6875rem;
    }
}

