.header-body {
    min-height: 88px;


    position: relative;
}

.container {
}



.header-logo {
    max-width: 100%;
    height: auto;
}

.menu {
    flex: 1 1 auto;
}
@media (min-width: 1399.98px) {
    .header-btn {
        margin-right: 15px;
    }
}



.menu-item {
}

.menu-action {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--txt-medium);
    line-height: calc(18 / 14 * 100%);
    white-space: nowrap;
    transition: all var(--transition) var(--transition-timing) 0s;
    position: relative;
}
.menu-action::before {
    content: "";
    border-radius: 5px;
    background: var(--white-2);
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    transition: all var(--transition) var(--transition-timing) 0s;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.menu-action.active {
    color: var(--txt-color-blue);
}
.menu-action.active::before {
    opacity: 1;
}
.menu-arrow {
    padding-left: 10px;
}
.menu-arrow img {
    vertical-align: middle;
    transition: all var(--transition) var(--transition-timing) 0s;
}
.menu-action.active .menu-arrow img {
    transform: rotate(-180deg);
}
.header-search {
    margin-right: 49px;
    cursor: pointer;
}

.header-search__body {
    min-height: 60px;
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100%;
    height: auto;
    background: #fff;

    transition: all var(--transition) var(--transition-timing) 0s;
    z-index: 999;
}

.header-search__body.active {
    left: 0;
}

.header-btn {

    padding: 10px 12px;
}
.header-btn:last-child {
    margin-right: 0;
}

.btn {
}



.d-lg-flex {
}

.align-items-lg-center {
}

.submenu-button.active {
    color: var(--txt-color-blue);
}


.submenu-item p {
    transition: all var(--transition) var(--transition-timing) 0s;
}


.submenu-image img {
    width: 30px;
    height: 30px;
}

.submenu-icon-small {
    width: 20px;
    height: 20px;
}

.submenu-title {
    transition: all var(--transition) var(--transition-timing) 0s;
}

.font-medium {
}

.text-small {
}

.submenu-top {
    margin-bottom: 3.125rem;
}

.submenu-list .submenu-title {
    white-space: nowrap;
}

.submenu-list {
    padding-bottom: 25px;
    border-bottom: 1px solid #CAD8F3;
    margin-bottom: 25px;
}



.submenu-list:last-child {
    padding-bottom: 0;
    border: none;
    margin-bottom: 0;
}

.submenu-button::before {
    content: "";
    border-radius: 5px;
    background: var(--white-2);
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    transition: all var(--transition) var(--transition-timing) 0s;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.submenu-button {
    position: relative;
}

.header-search__body input {
    border-radius: 8px;
    border: 1px solid var(--blue);
    min-height: 35px;
    width: 100%;
    max-width: 450px;
    padding: 1px 15px;
}
.header-search__body input::placeholder {
    color: var(--grey-extra-light);
}
@media (min-width: 991.98px) {
    .header-search__body {
        min-height: 88px;
    }
    .menu-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin-right: 47px;
    }
    .icon-menu {
        display: none;
    }
    .submenu .tabs-content {
        display: none;
    }

    .submenu .tabs-content.active {
        display: flex;
    }
    .submenu {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 20px);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
        border-radius: 0 0 5px 5px;
        width: auto;
        height: auto;
        z-index: 4;
        opacity: 0;
        visibility: hidden;
        transition: all var(--transition) var(--transition-timing) 0s;
    }
    .submenu-medium {
        width: 252px;
    }
    .submenu-big {
        transform: translate(-50%, -15px);
        max-width: 875px;
        padding: 0.9375rem 2.8125rem 3.125rem !important;
        width: 100%;

    }
    .submenu .row {
        min-height: 220px;
        align-items: center;
    }
    .submenu.active {
        opacity: 1;
        visibility: visible;
    }
    .submenu-button {
        white-space: nowrap;
        margin-right: 20px;
        transition: all 0.3s ease 0s;
    }

    .submenu-button:last-child {
        margin-bottom: 0;
    }
    .tabs-content > .row {

        display: flex;
    }
}
/*@media (min-width: 991.98px) {*/
/*    .submenu-big {*/
/*        transform: translate(-56%, -15px);*/
/*    }*/
/*}*/

@media (min-width: 991.98px) and (max-width: 1100.98px) {
    .menu-action {
        font-size: 0.8125rem;
    }
    .header-search {
        margin-right: 25px;
    }
    .menu-list {
        margin-right: 25px;
    }
}
@media (any-hover: hover) {
    .menu-action:hover {
        color: var(--txt-color-blue);

    }
    .submenu-list:hover {

    }
    .menu-action:hover::before {
        opacity: 1;
        visibility: visible;
    }
    .submenu-item:hover .submenu-title {
        color: var(--blue);
    }
    .submenu-item:hover .submenu-title {
        color: var(--blue);
    }
    .submenu-item:hover p {
        color: var(--blue);
    }
    .submenu-button:hover {
        color: var(--txt-color-blue);
    }
    .submenu-button:hover::before {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 991.98px) {
    .header-search {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
    }
    .icon-search {
        display: none !important;
    }
    .submenu-title {
        font-size: var(--txt-medium);
    }

    .submenu.active .submenu-label {
        padding-top: 1.875rem;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: var(--white);
        z-index: 30;
    }
    .menu .tabs-content {
        border-bottom: 1px solid var(--light);
    }
    .menu .tabs-content:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
    .submenu-item {
        margin-bottom: 22px;
    }
    .submenu-list li {
        margin-bottom: 22px;
    }
    .submenu-list li:last-child {
        margin-bottom: 0;
    }
    .submenu .text-small {
        display: none !important;
    }
    .menu-action.active {
        background: var(--white);
    }
    /*.submenu-item:last-child {*/
    /*    margin-bottom: 0;*/
    /*}*/
    .header-body {
        min-height: 60px;
    }
    .menu-action {
        height: 60px;
        margin: 0 -16px;
        padding: 0 16px;
        justify-content: space-between;
        background: var(--white-2);
    }
    .menu-action img {
        width: 10px;
        height: 5px;
        margin-left: 10px;
    }
    .icon-menu {
        position: relative;
        width: 24px;
        height: 18px;
    }

    .icon-menu span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--dark);
        transition: all var(--transition) var(--transition-timing) 0s;
    }

    .icon-menu span:nth-child(1) {
        top: 0;
    }

    .icon-menu span:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%);
    }
    .icon-menu span:nth-child(3) {
        bottom: 0;
    }

    .icon-menu.active span:nth-child(2) {
        opacity: 0;
        top: 50%;
    }
    .icon-menu.active span:nth-child(1) {
        transform: rotate(45deg);
        top: calc(50% - 1px);
    }
    .icon-menu.active span:nth-child(3) {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }
    .menu {
        position: fixed;
        top: 60px;
        left: 100%;
        width: 100%;
        height: 100%;
        min-height: 100%;
        z-index: 7;
        padding: 22px var(--gutter-x) 50px var(--gutter-x);
        background: var(--white);
        overflow: auto;
        transition: all var(--transition) var(--transition-timing) 0s;
    }
    .menu.active {
        left: 0;
    }
}



