.icon {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background: var(--blue);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.icon img {
    pointer-events: none;
}

.icon-step {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 32px;
    min-height: 32px;
    padding: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    background: var(--white);
    border: 1px solid var(--blue);
    border-radius: 50%;
}



@media (max-width: 767.98px) {
    .icon {
        width: 81px;
        height: 81px;
    }
    .icon img {
        width: 40px;
        height: 40px;
    }
    .icon-step {
        min-width: 24px;
        min-height: 24px;
    }

}

.popular-tasks-icon img {
    width: 57px;
    height: 57px;
}

a .icon + p {
    transition: all var(--transition) var(--transition-timing) 0s;
}
@media (any-hover: hover) {
    a:hover .icon + p {
        color: var(--blue);
    }
}
