
.info-item {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    border: 1px solid var(--grey-extra-light);
    min-height: 163px;
    height: 100%;
}

.info-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.info-image {
    flex: 0 0 163px;
    position: relative;
}

.info-item-big .info-image {
    flex: 0 0 218px !important;
}

.info-item-big .tag {
    background: var(--white-2);
    color: var(--grey);
}


.info-date {
    margin-bottom: 15px;
}

.info-title {
    line-height: 151.88%;
    transition: all var(--transition) var(--transition-timing) 0s;
}
.info-item .text {
    transition: all var(--transition) var(--transition-timing) 0s;
}
.info > .container-xl {
    position: relative;
    z-index: 3;
}

@media (max-width: 991.98px) {
    .info-item {
        margin-bottom: 15px;
    }
    .info-image {
        flex: 0 0 143px;
    }

}
@media (min-width: 991.98px) {
    .info-bg::before {
        background: url('../../img/backgrounds/info/pattern-left.svg') 0 100% no-repeat;
    }
    .info-bg::after {
        background: url('../../img/backgrounds/info/pattern-right.svg') 100% 100% no-repeat;
    }
    .info-bg {
        padding-bottom: 200px !important;
    }
    .info-bg + .info {
        transform: translate(0, -100px);
    }
}

@media (any-hover: hover) {
    .info-item:hover .info-title {
        color: var(--blue)
    }
}

@media (max-width: 640px) {
    .info-item-big {
        display: block;
    }
    .info-item-big .info-image {
        height: 170px;
        width: 100%;
    }
    .info-item-big .date {
        display: none;
    }

}

