
.info-item {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    border: 1px solid var(--grey-extra-light);

}

.info-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.info-image {
    flex: 0 0 163px;
}
.info-info {
    padding: 15px 15px 40px;
}

.info-date {
    margin-bottom: 15px;
}

.info-title {
    line-height: 151.88%;
}

@media (max-width: 991.98px) {
    .info-item {
        margin-bottom: 15px;
    }
    .info-image img {

        width: 100%;
        object-fit: cover;
    }
    .info-image {
        flex: 0 0 143px;
    }
}
@media (min-width: 991.98px) {
    .info-body {
        background: url('../../img/backgrounds/info-bg-right.png') right center no-repeat, url('../../img/backgrounds/info-bg-left.png') left center no-repeat;
    }

}
