
@media (max-width: 991.98px) {
    .integration-image-desktop {
        display: none;
    }
}

@media (min-width: 991.98px) {
    .integration-image-mobile {
        display: none;
    }
    .integration .row:nth-child(even) {
        flex-direction: row-reverse;
    }

    .integration .row:nth-child(even) .integration-content {
        text-align: right !important;
    }

}
