.intro-pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-pagination .swiper-pagination-bullet {
    margin: 0 10px;
    cursor: pointer;
    width: 25px;
    height: 14px;
    transition: all var(--transition) var(--transition-timing) 0s;
    background: var(--blue);
    opacity: 0.2;
    border-radius: 50px;
}

.intro-pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

.intro-slider {
    min-width: 0;
}
.intro-text {

}

.intro-button {
}


.intro-image img {
    pointer-events: none;
}


@media (max-width: 767.98px) {
    .intro-content {
        text-align: center;
    }
    .intro-pagination .swiper-pagination-bullet {
        width: 17px;
        height: 9px;
    }
    .intro {
        background: none !important;
    }
}
@media (min-width: 767.98px) {
    .intro-slide:nth-child(odd) > .row {
        flex-direction: row-reverse;
    }
    .intro-slide:nth-child(odd) .intro-content {
        text-align: right !important;
    }
    .intro-slide:nth-child(odd) .offset-lg-1 {
        margin-left: 0 !important;
    }

    .intro-image {
        display: flex;
        justify-content: flex-end;
    }
    .intro-slide:nth-child(odd) .intro-image {
        justify-content: flex-start;
    }
}

@media (min-width: 991.98px) {
    .intro-slide:nth-child(odd) .offset-lg-1 {
        margin-right: 8.3333% !important;
    }
}
