.options-body {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("../../img/options/bg.jpg") center center / cover no-repeat;
}
.options {
    position: relative;
}

.options-item {
    padding: 15px 15px 20px;
    height: 100%;
}

.options-image {
    height: 100px;
}
.options .swiper-slide {
    height: auto;
    min-height: 100%;
}
.options-more {
    position: absolute;
    bottom: -140px;
    left: 50%;
    transform: translate(-50%, 0);
}

.options-more .btn-default {
    white-space: nowrap;
}
@media (min-width: 991.98px) {
    .options-item {
        padding: 15px 30px;
    }
    .options::before {
        background: url('../../img/backgrounds/options/pattern-left.svg') 0 50% no-repeat;
    }
    .options::after {
        background: url('../../img/backgrounds/options/pattern-right.svg') 100% 50% no-repeat;
    }
}
