.share-offset {
    margin-top: 139px;
}
.share-btn {
    padding: 4px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    text-align: center;
    min-width: 93px;
}


.share-btn img {
    width: 18px;
    height: 18px;
}
.share-btn-vk {
    background: #4087D9;
}

.share-btn-telegram {
    background: #1E96C8;
}

.share-btn-mail {
    background: var(--blue);
}

.share-btn-link {
    background: #435269;
}

.share-label {
    font-size: var(--txt-large);
    color: #25374E;
    line-height: calc(24 / 18 * 100%);
    font-weight: 500;
}

@media (max-width: 767.98px) {
    .share-adaptive {
        margin: 0 -16px;
        border-radius: 0 !important;
    }
    .share-btn {
        min-width: 83px;
        padding: 4px 9px;
    }
}

@media (max-width: 360px) {
    .share-adaptive .share-body {
        flex-wrap: wrap;
    }
    .share-adaptive .share-label {
        margin: 0 auto 1.25rem auto !important;
    }
}
