.row-spacing-5 {
    margin-right: calc(-1 * var(--gutter-5));
    margin-left: calc(-1 * var(--gutter-5));
}
/*.row-spacing-4 {*/
/*    margin-right: calc(-1 * 1.28rem);*/
/*    margin-left: calc(-1 * 1.28rem);*/
/*}*/
.row-spacing-1 {
    margin-right: calc(-1 * var(--gutter-1));
    margin-left: calc(-1 * var(--gutter-1));
}

@media (min-width: 991.98px) {
    .row-spacing-lg-7 {
        margin-right: calc(-1 * var(--gutter-7));
        margin-left: calc(-1 * var(--gutter-7));
    }
    .row-spacing-lg-8 {
        margin-right: calc(-1 * var(--gutter-8));
        margin-left: calc(-1 * var(--gutter-8));
    }
    .row-spacing-lg-5 {
        margin-right: calc(-1 * var(--gutter-5));
        margin-left: calc(-1 * var(--gutter-5));
    }
    .row-spacing-lg-4 {
        margin-right: calc(-1 * var(--gutter-4));
        margin-left: calc(-1 * var(--gutter-4));
    }
    .row-spacing-lg-3 {
        margin-right: calc(-1 * var(--gutter-3));
        margin-left: calc(-1 * var(--gutter-3));
    }

}

@media (min-width: 767.98px) {
    .row-spacing-md-7 {
        margin-right: calc(-1 * var(--gutter-7));
        margin-left: calc(-1 * var(--gutter-7));
    }

}

.mt-0 {
    margin-top: 0 !important;
}



.mt-1 {
  margin-top: var(--gutter-1) !important;
}

.mt-2 {
    margin-top: var(--gutter-2) !important;
}

.mt-3 {
    margin-top: var(--gutter-3) !important;
}

.mt-4 {
    margin-top: var(--gutter-4) !important;
}

.mt-5 {
    margin-top: var(--gutter-5) !important;
}

.mt-6 {
    margin-top: var(--gutter-6) !important;
}

.mt-7 {
    margin-top: var(--gutter-7) !important;
}

.mt-10 {
    margin-top: var(--gutter-10) !important;
}

.mt-15 {
    margin-top: var(--gutter-15) !important;
}

.mt-20 {
    margin-top: var(--gutter-20) !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}


.mb-1 {
    margin-bottom: var(--gutter-1) !important;
}

.mb-2 {
    margin-bottom: var(--gutter-2) !important;
}

.mb-3 {
    margin-bottom: var(--gutter-3) !important;
}

.mb-4 {
    margin-bottom: var(--gutter-4) !important;
}

.mb-5 {
    margin-bottom: var(--gutter-5) !important;
}

.mb-6 {
    margin-bottom: var(--gutter-6) !important;
}

.mb-7 {
    margin-bottom: var(--gutter-7) !important;
}

.mb-10 {
    margin-bottom: var(--gutter-10) !important;
}

.mb-15 {
    margin-bottom: var(--gutter-15) !important;
}

.mb-20 {
    margin-bottom: var(--gutter-20) !important;
}

.me-0 {
    margin-right: 0 !important;
}


.me-1 {
    margin-right: var(--gutter-1) !important;
}

.me-2 {
    margin-right: var(--gutter-2) !important;
}

.me-3 {
    margin-right: var(--gutter-3) !important;
}

.me-4 {
    margin-right: var(--gutter-4) !important;
}

.me-5 {
    margin-right: var(--gutter-5) !important;
}

.me-6 {
    margin-right: var(--gutter-6) !important;
}

.me-7 {
    margin-right: var(--gutter-7) !important;
}

.me-10 {
    margin-right: var(--gutter-10) !important;
}

.me-15 {
    margin-right: var(--gutter-15) !important;
}

.me-20 {
    margin-right: var(--gutter-20) !important;
}


.ms-0 {
    margin-left: 0 !important;
}

.ms-1 {
    margin-left: var(--gutter-1) !important;
}

.ms-2 {
    margin-left: var(--gutter-2) !important;
}

.ms-3 {
    margin-left: var(--gutter-3) !important;
}

.ms-4 {
    margin-left: var(--gutter-4) !important;
}

.ms-5 {
    margin-left: var(--gutter-5) !important;
}

.ms-6 {
    margin-left: var(--gutter-6) !important;
}

.ms-7 {
    margin-left: var(--gutter-7) !important;
}

.ms-10 {
    margin-left: var(--gutter-10) !important;
}

.ms-15 {
    margin-left: var(--gutter-15) !important;
}

.ms-20 {
    margin-left: var(--gutter-20) !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: var(--gutter-1) !important;
}

.pt-2 {
    padding-top: var(--gutter-2) !important;
}

.pt-3 {
    padding-top: var(--gutter-3) !important;
}

.pt-4 {
    padding-top: var(--gutter-4) !important;
}

.pt-5 {
    padding-top: var(--gutter-5) !important;
}

.pt-6 {
    padding-top: var(--gutter-6) !important;
}

.pt-7 {
    padding-top: var(--gutter-7) !important;
}

.pt-10 {
    padding-top: var(--gutter-10) !important;
}

.pt-15 {
    padding-top: var(--gutter-15) !important;
}

.pt-20 {
    padding-top: var(--gutter-20) !important;
}
/*padding-bottom*/

.pb-0 {
    padding-bottom: 0 !important;
}


.pb-1 {
    padding-bottom: var(--gutter-1) !important;
}

.pb-2 {
    padding-bottom: var(--gutter-2) !important;
}

.pb-3 {
    padding-bottom: var(--gutter-3) !important;
}

.pb-4 {
    padding-bottom: var(--gutter-4) !important;
}

.pb-5 {
    padding-bottom: var(--gutter-5) !important;
}

.pb-6 {
    padding-bottom: var(--gutter-6) !important;
}

.pb-7 {
    padding-bottom: var(--gutter-7) !important;
}

.pb-10 {
    padding-bottom: var(--gutter-10) !important;
}

.pb-15 {
    padding-bottom: var(--gutter-15) !important;
}

.pb-20 {
    padding-bottom: var(--gutter-20) !important;
}

/*padding-right*/
.pe-0 {
    padding-right: 0 !important;
}

.pe-1 {
    padding-right: var(--gutter-1) !important;
}

.pe-2 {
    padding-right: var(--gutter-2) !important;
}

.pe-3 {
    padding-right: var(--gutter-3) !important;
}

.pe-4 {
    padding-right: var(--gutter-4) !important;
}

.pe-5 {
    padding-right: var(--gutter-5) !important;
}

.pe-6 {
    padding-right: var(--gutter-6) !important;
}

.pe-7 {
    padding-right: var(--gutter-7) !important;
}

.pe-10 {
    padding-right: var(--gutter-10) !important;
}

.pe-15 {
    padding-right: var(--gutter-15) !important;
}

.pe-20 {
    padding-right: var(--gutter-20) !important;
}

.ps-0 {
    padding-left: 0 !important;
}


.ps-1 {
    padding-left: var(--gutter-1) !important;
}

.ps-2 {
    padding-left: var(--gutter-2) !important;
}

.ps-3 {
    padding-left: var(--gutter-3) !important;
}

.ps-4 {
    padding-left: var(--gutter-4) !important;
}

.ps-5 {
    padding-left: var(--gutter-5) !important;
}

.ps-6 {
    padding-left: var(--gutter-6) !important;
}

.ps-7 {
    padding-left: var(--gutter-7) !important;
}

.ps-10 {
    padding-left: var(--gutter-10) !important;
}

.ps-15 {
    padding-left: var(--gutter-15) !important;
}

.ps-20 {
    padding-left: var(--gutter-20) !important;
}

@media (min-width: 991.98px) {
    .mt-lg-0 {
        margin-top: 0 !important;
    }
    .mt-lg-1 {
        margin-top: var(--gutter-1) !important;
    }

    .mt-lg-2 {
        margin-top: var(--gutter-2) !important;
    }

    .mt-lg-3 {
        margin-top: var(--gutter-3) !important;
    }

    .mt-lg-4 {
        margin-top: var(--gutter-4) !important;
    }

    .mt-lg-5 {
        margin-top: var(--gutter-5) !important;
    }

    .mt-lg-6 {
        margin-top: var(--gutter-6) !important;
    }

    .mt-lg-7 {
        margin-top: var(--gutter-7) !important;
    }

    .mt-lg-10 {
        margin-top: var(--gutter-10) !important;
    }

    .mt-lg-15 {
        margin-top: var(--gutter-15) !important;
    }

    .mt-lg-20 {
        margin-top: var(--gutter-20) !important;
    }
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
    .mb-lg-1 {
        margin-bottom: var(--gutter-1) !important;
    }

    .mb-lg-2 {
        margin-bottom: var(--gutter-2) !important;
    }

    .mb-lg-3 {
        margin-bottom: var(--gutter-3) !important;
    }

    .mb-lg-4 {
        margin-bottom: var(--gutter-4) !important;
    }

    .mb-lg-5 {
        margin-bottom: var(--gutter-5) !important;
    }

    .mb-lg-6 {
        margin-bottom: var(--gutter-6) !important;
    }

    .mb-lg-7 {
        margin-bottom: var(--gutter-7) !important;
    }

    .mb-lg-10 {
        margin-bottom: var(--gutter-10) !important;
    }

    .mb-lg-15 {
        margin-bottom: var(--gutter-15) !important;
    }

    .mb-lg-20 {
        margin-bottom: var(--gutter-20) !important;
    }

    .me-lg-0 {
        margin-right: 0 !important;
    }

    .me-lg-1 {
        margin-right: var(--gutter-1) !important;
    }

    .me-lg-2 {
        margin-right: var(--gutter-2) !important;
    }

    .me-lg-3 {
        margin-right: var(--gutter-3) !important;
    }

    .me-lg-4 {
        margin-right: var(--gutter-4) !important;
    }

    .me-lg-5 {
        margin-right: var(--gutter-5) !important;
    }

    .me-lg-6 {
        margin-right: var(--gutter-6) !important;
    }

    .me-lg-7 {
        margin-right: var(--gutter-7) !important;
    }

    .me-lg-10 {
        margin-right: var(--gutter-10) !important;
    }

    .me-lg-15 {
        margin-right: var(--gutter-15) !important;
    }

    .me-lg-20 {
        margin-right: var(--gutter-20) !important;
    }

    .ms-lg-0 {
        margin-left: 0 !important;
    }

    .ms-lg-1 {
        margin-left: var(--gutter-1) !important;
    }

    .ms-lg-2 {
        margin-left: var(--gutter-2) !important;
    }

    .ms-lg-3 {
        margin-left: var(--gutter-3) !important;
    }

    .ms-lg-4 {
        margin-left: var(--gutter-4) !important;
    }

    .ms-lg-5 {
        margin-left: var(--gutter-5) !important;
    }

    .ms-lg-6 {
        margin-left: var(--gutter-6) !important;
    }

    .ms-lg-7 {
        margin-left: var(--gutter-7) !important;
    }

    .ms-lg-10 {
        margin-left: var(--gutter-10) !important;
    }

    .ms-lg-15 {
        margin-left: var(--gutter-15) !important;
    }

    .ms-lg-20 {
        margin-left: var(--gutter-20) !important;
    }


    .pt-lg-0 {
        padding-top: 0 !important;
    }
    .pt-lg-1 {
        padding-top: var(--gutter-1) !important;
    }

    .pt-lg-2 {
        padding-top: var(--gutter-2) !important;
    }

    .pt-lg-3 {
        padding-top: var(--gutter-3) !important;
    }

    .pt-lg-4 {
        padding-top: var(--gutter-4) !important;
    }

    .pt-lg-5 {
        padding-top: var(--gutter-5) !important;
    }

    .pt-lg-6 {
        padding-top: var(--gutter-6) !important;
    }

    .pt-lg-7 {
        padding-top: var(--gutter-7) !important;
    }

    .pt-lg-10 {
        padding-top: var(--gutter-10) !important;
    }

    .pt-lg-15 {
        padding-top: var(--gutter-15) !important;
    }

    .pt-lg-20 {
        padding-top: var(--gutter-20) !important;
    }
    /*padding-bottom*/
    .pb-lg-0 {
        padding-bottom: 0 !important;
    }
    .pb-lg-1 {
        padding-bottom: var(--gutter-1) !important;
    }

    .pb-lg-2 {
        padding-bottom: var(--gutter-2) !important;
    }

    .pb-lg-3 {
        padding-bottom: var(--gutter-3) !important;
    }

    .pb-lg-4 {
        padding-bottom: var(--gutter-4) !important;
    }

    .pb-lg-5 {
        padding-bottom: var(--gutter-5) !important;
    }

    .pb-lg-6 {
        padding-bottom: var(--gutter-6) !important;
    }

    .pb-lg-7 {
        padding-bottom: var(--gutter-7) !important;
    }

    .pb-lg-10 {
        padding-bottom: var(--gutter-10) !important;
    }

    .pb-lg-15 {
        padding-bottom: var(--gutter-15) !important;
    }

    .pb-lg-20 {
        padding-bottom: var(--gutter-20) !important;
    }

    /*padding-right*/
    .pe-lg-0 {
        padding-right: 0 !important;
    }
    .pe-lg-1 {
        padding-right: var(--gutter-1) !important;
    }

    .pe-lg-2 {
        padding-right: var(--gutter-2) !important;
    }

    .pe-lg-3 {
        padding-right: var(--gutter-3) !important;
    }

    .pe-lg-4 {
        padding-right: var(--gutter-4) !important;
    }

    .pe-lg-5 {
        padding-right: var(--gutter-5) !important;
    }

    .pe-lg-6 {
        padding-right: var(--gutter-6) !important;
    }

    .pe-lg-7 {
        padding-right: var(--gutter-7) !important;
    }

    .pe-lg-8 {
        padding-right: var(--gutter-8) !important;
    }

    .pe-lg-10 {
        padding-right: var(--gutter-10) !important;
    }

    .pe-lg-15 {
        padding-right: var(--gutter-15) !important;
    }

    .pe-lg-20 {
        padding-right: var(--gutter-20) !important;
    }

    .ps-lg-0 {
        padding-left: 0 !important;
    }

    .ps-lg-1 {
        padding-left: var(--gutter-1) !important;
    }

    .ps-lg-2 {
        padding-left: var(--gutter-2) !important;
    }

    .ps-lg-3 {
        padding-left: var(--gutter-3) !important;
    }

    .ps-lg-4 {
        padding-left: var(--gutter-4) !important;
    }

    .ps-lg-5 {
        padding-left: var(--gutter-5) !important;
    }

    .ps-lg-6 {
        padding-left: var(--gutter-6) !important;
    }

    .ps-lg-7 {
        padding-left: var(--gutter-7) !important;
    }
    .pe-lg-8 {
        padding-left: var(--gutter-8) !important;
    }
    .ps-lg-10 {
        padding-left: var(--gutter-10) !important;
    }

    .ps-lg-15 {
        padding-left: var(--gutter-15) !important;
    }

    .ps-lg-20 {
        padding-left: var(--gutter-20) !important;
    }


}


@media (min-width: 767.98px) {
    .mt-md-0 {
        margin-top: 0 !important;
    }
    .mt-md-1 {
        margin-top: var(--gutter-1) !important;
    }

    .mt-md-2 {
        margin-top: var(--gutter-2) !important;
    }

    .mt-md-3 {
        margin-top: var(--gutter-3) !important;
    }

    .mt-md-4 {
        margin-top: var(--gutter-4) !important;
    }

    .mt-md-5 {
        margin-top: var(--gutter-5) !important;
    }

    .mt-md-6 {
        margin-top: var(--gutter-6) !important;
    }

    .mt-md-7 {
        margin-top: var(--gutter-7) !important;
    }

    .mt-md-10 {
        margin-top: var(--gutter-10) !important;
    }

    .mt-md-15 {
        margin-top: var(--gutter-15) !important;
    }

    .mt-md-20 {
        margin-top: var(--gutter-20) !important;
    }

    .mb-md-0 {
        margin-bottom: 0 !important;
    }
    .mb-md-1 {
        margin-bottom: var(--gutter-1) !important;
    }

    .mb-md-2 {
        margin-bottom: var(--gutter-2) !important;
    }

    .mb-md-3 {
        margin-bottom: var(--gutter-3) !important;
    }

    .mb-md-4 {
        margin-bottom: var(--gutter-4) !important;
    }

    .mb-md-5 {
        margin-bottom: var(--gutter-5) !important;
    }

    .mb-md-6 {
        margin-bottom: var(--gutter-6) !important;
    }

    .mb-md-7 {
        margin-bottom: var(--gutter-7) !important;
    }

    .mb-md-10 {
        margin-bottom: var(--gutter-10) !important;
    }

    .mb-md-15 {
        margin-bottom: var(--gutter-15) !important;
    }

    .mb-md-20 {
        margin-bottom: var(--gutter-20) !important;
    }

    .me-md-0 {
        margin-right: 0 !important;
    }

    .me-md-1 {
        margin-right: var(--gutter-1) !important;
    }

    .me-md-2 {
        margin-right: var(--gutter-2) !important;
    }

    .me-md-3 {
        margin-right: var(--gutter-3) !important;
    }

    .me-md-4 {
        margin-right: var(--gutter-4) !important;
    }

    .me-md-5 {
        margin-right: var(--gutter-5) !important;
    }

    .me-md-6 {
        margin-right: var(--gutter-6) !important;
    }

    .me-md-7 {
        margin-right: var(--gutter-7) !important;
    }

    .me-md-10 {
        margin-right: var(--gutter-10) !important;
    }

    .me-md-15 {
        margin-right: var(--gutter-15) !important;
    }

    .me-md-20 {
        margin-right: var(--gutter-20) !important;
    }

    .ms-md-0 {
        margin-left: 0 !important;
    }

    .ms-md-1 {
        margin-left: var(--gutter-1) !important;
    }

    .ms-md-2 {
        margin-left: var(--gutter-2) !important;
    }

    .ms-md-3 {
        margin-left: var(--gutter-3) !important;
    }

    .ms-md-4 {
        margin-left: var(--gutter-4) !important;
    }

    .ms-md-5 {
        margin-left: var(--gutter-5) !important;
    }

    .ms-md-6 {
        margin-left: var(--gutter-6) !important;
    }

    .ms-md-7 {
        margin-left: var(--gutter-7) !important;
    }

    .ms-md-10 {
        margin-left: var(--gutter-10) !important;
    }

    .ms-md-15 {
        margin-left: var(--gutter-15) !important;
    }

    .ms-md-20 {
        margin-left: var(--gutter-20) !important;
    }


    .pt-md-0 {
        padding-top: var(--gutter-1) !important;
    }

    .pt-md-1 {
        padding-top: var(--gutter-1) !important;
    }

    .pt-md-2 {
        padding-top: var(--gutter-2) !important;
    }

    .pt-md-3 {
        padding-top: var(--gutter-3) !important;
    }

    .pt-md-4 {
        padding-top: var(--gutter-4) !important;
    }

    .pt-md-5 {
        padding-top: var(--gutter-5) !important;
    }

    .pt-md-6 {
        padding-top: var(--gutter-6) !important;
    }

    .pt-md-7 {
        padding-top: var(--gutter-7) !important;
    }

    .pt-md-10 {
        padding-top: var(--gutter-10) !important;
    }

    .pt-md-15 {
        padding-top: var(--gutter-15) !important;
    }

    .pt-md-20 {
        padding-top: var(--gutter-20) !important;
    }

    /*padding-bottom*/
    .pb-md-0 {
        padding-bottom: 0 !important;
    }
    .pb-md-1 {
        padding-bottom: var(--gutter-1) !important;
    }

    .pb-md-2 {
        padding-bottom: var(--gutter-2) !important;
    }

    .pb-md-3 {
        padding-bottom: var(--gutter-3) !important;
    }

    .pb-md-4 {
        padding-bottom: var(--gutter-4) !important;
    }

    .pb-md-5 {
        padding-bottom: var(--gutter-5) !important;
    }

    .pb-md-6 {
        padding-bottom: var(--gutter-6) !important;
    }

    .pb-md-7 {
        padding-bottom: var(--gutter-7) !important;
    }

    .pb-md-10 {
        padding-bottom: var(--gutter-10) !important;
    }

    .pb-md-15 {
        padding-bottom: var(--gutter-15) !important;
    }

    .pb-md-20 {
        padding-bottom: var(--gutter-20) !important;
    }

    /*padding-right*/
    .pe-md-0 {
        padding-right: 0 !important;
    }
    .pe-md-1 {
        padding-right: var(--gutter-1) !important;
    }

    .pe-md-2 {
        padding-right: var(--gutter-2) !important;
    }

    .pe-md-3 {
        padding-right: var(--gutter-3) !important;
    }

    .pe-md-4 {
        padding-right: var(--gutter-4) !important;
    }

    .pe-md-5 {
        padding-right: var(--gutter-5) !important;
    }

    .pe-md-6 {
        padding-right: var(--gutter-6) !important;
    }

    .pe-md-7 {
        padding-right: var(--gutter-7) !important;
    }

    .pe-md-10 {
        padding-right: var(--gutter-10) !important;
    }

    .pe-md-15 {
        padding-right: var(--gutter-15) !important;
    }

    .pe-md-20 {
        padding-right: var(--gutter-20) !important;
    }

    .ps-md-0 {
        padding-left: 0 !important;
    }

    .ps-md-1 {
        padding-left: var(--gutter-1) !important;
    }

    .ps-md-2 {
        padding-left: var(--gutter-2) !important;
    }

    .ps-md-3 {
        padding-left: var(--gutter-3) !important;
    }

    .ps-md-4 {
        padding-left: var(--gutter-4) !important;
    }

    .ps-md-5 {
        padding-left: var(--gutter-5) !important;
    }

    .ps-md-6 {
        padding-left: var(--gutter-6) !important;
    }

    .ps-md-7 {
        padding-left: var(--gutter-7) !important;
    }

    .ps-md-10 {
        padding-left: var(--gutter-10) !important;
    }

    .ps-md-15 {
        padding-left: var(--gutter-15) !important;
    }

    .ps-md-20 {
        padding-left: var(--gutter-20) !important;
    }


}













